<li><a href="{{ "/archive" | prepend:site.baseurl }}">목록</a></li>
<li><a href="{{ "/web" | prepend:site.baseurl }}">Web</a></li>
<li><a href="{{ "/react" | prepend:site.baseurl }}">react</a></li>
<li><a href="{{ "/adjango" | prepend:site.baseurl }}">adjango</a></li>
<li><a href="{{ "/data" | prepend:site.baseurl }}">data</a></li>
<li><a href="{{ "/algorithm" | prepend:site.baseurl }}">algorithm</a></li>
<li><a href="{{ "/class" | prepend:site.baseurl }}">class</a></li>
<li><a href="{{ "/about" | prepend:site.baseurl }}">about</a></li>