<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h2 class="section-header">
    코딩의 철학
  </h2>

  <p>
    <a href="https://github.com/scarletbreeze" target="_blank" class="btn"><i class="fa fa-github fa-lg"></i> GitHub &rarr;</a>
    <a href="" target="_blank" class="btn"><i class="fa fa-book fa-lg"></i> TIL Gitbook &rarr;</a>
  </p>

  <h3>
    AUTHOR <a href="{{ "/about" | prepend:site.baseurl }}">GO -></a>
  </h3>
  <p>
    <div class="media">
      <h4 class="media-heading">Seon Hong</h4>
      <div class="media-body">
        <img src="https://avatars3.githubusercontent.com/u/23495876?v=4&s=460" alt="SeonHong Kim" height="200" width="200">
      </div>
    </div>
  </p>
</div>

<!-- <h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>
 -->